{% extends 'Hospital/index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="356" border="1">
    <tr>
      <th scope="row">Ambulance No </th>
      <td>Type</td>
      <td>Status</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><p><a href="#">Edit</a></p>
      <p><a href="#">Delete</a></p>
      <p><a href="#">Track</a></p></td>
    </tr>
    <tr>
      <th colspan="4" scope="row"><a href="#">Add New</a></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}

